.SocialLogin {
    display: flex;
    border: 1px solid grey;
    height: 60px;
    justify-content : center;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 3px;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    margin-left: 10px;
}

.fa-facebook{
    color: #395498;
    margin-left: 10px;
}