.SignUp {
    display: flex;
    padding: 40px 20px 20px 50px;
    width: 110%;
    height: 110%;
    position: relative;
    top: -20px;
    left: -20px;
    border-radius: 2rem;
    background-image: url('../../../assets/images/desktop-wallpaper-causal-ai-causality.jpg');
    background-size: 100% 100%;
}

@media screen and (max-width: 1300px) and (min-width: 1030px){
    .SignUp {
        padding: 50px 20px 20px 30px;
        width: 110%;
        height: 130%;
    }
}

@media screen and (max-width: 1030px) and (min-width: 1020px) {
    .SignUp {
        padding: 50px 20px 0px 20px;
        width: 170%;
        height: 75%;
        top: 77px;
        left: -99px
    }
}

@media screen and (max-width: 950px) and (min-width : 900px) {

    .SignUp {
        padding: 50px 20px 0px 20px;
        width: 100%;
        height: 80%;
    }

}

@media screen and (max-width: 900px) and (min-width : 540px) {

    .SignUp {
        padding: 50px 20px 20px 20px;
        width: 108%;
        height: 108%;
    }

}

@media screen and (max-width: 540px) and (min-width : 450px) {

    .SignUp {
        padding: 30px 20px 0px 20px;
        width: 100%;
        height: 150%;
    }

}

@media screen and (max-width: 450px) and (min-width : 400px) {

    .SignUp {
        padding: 50px 20px 0px 20px;
        width: 110%;
        height: 120%;
    }

}


@media screen and (max-width: 400px) and (min-width : 375px) {

    .SignUp {
        padding: 50px 20px 0px 20px;
        width: 110%;
        height: 135%;
    }

}

@media screen and (max-width : 375px) and (min-width : 320px) {

    .SignUp {
        padding: 20px 20px 0px 20px;
        width: 110%;
        height: 160%;
        top: -60px;
    }

}

@media screen and (max-width : 320px) and (min-width : 281px){

    .SignUp {
        padding: 20px 20px 0px 20px;
        top: -65px;
        width: 110%;
        height: 200%;
    }

}

@media screen and (max-width : 280px){

    .SignUp {
        padding: 20px 20px 0px 20px;
        top: -65px;
        width: 110%;
        height: 150%;
    }

}